body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size:12px;
	text-align:center;
	width:1000px;
}
image{ border:0;}
td{font-size:12px;color:#414141;line-height:22px;}

.white {color: #FFFFFF}
A{color:#414141;text-decoration:none;}
A:hover{color:#ff7000;text-decoration:none;}

.A-white{padding-top:0px;
         color:#FFFFFF;
		 text-decoration:none;}
.A-white:hover{
              color:#FFFFFF;
		      text-decoration:none;}
.btn{
     border:1 #cccccc solid;
	 background-color:#dfdfdf;
	 width:50px;
	 text-align:center;
	 padding-top:3px;
	 height:22px;
	 font-size:12px;
	 }
.yellow{
        color:#ff7000;}
.main{
     padding-top:10px;
	 padding-bottom:10px;
	 height:200px;
	 width:1000px;
	 background:url(../images/101.jpg);
	 }
	 
#mainbody{
	 width:1000px;
	 text-align:center;
	 vertical-align:middle;
	 }

#logo{
      float:left;
	  padding-left:30px;
	  }
#menu{
	  text-align:left;
	  float:left;
	  padding-left:4px;
	  padding-top:1px;
	  padding-right:4px;
	  height:200px;
	  width:200px;
	  }
#testimage{
	width:780px;
	height:200px;
	top: 9px;
	left:340px;
	}
	
#menu-bg1{background-image:url(../images/menu-bg1.gif);
		  height:33px;
		  overflow:hidden;
		  color:#FFFFFF;
		  padding-top:5px;
		  margin-left:-6px;
		  width:995px;
		  }
		  
#userlogin{
	clear:both;
	width:210px;
	height:180px;
	float:right;
}

#tellme{
	padding-top:10px;
	width:200px;
	height:70px;
	text-align:left;
	color:#FF6600;
	font-size:14px;
}

#findInfo{
	clear:both;
	height:300px;
	width:300px;
	float:left;
	border:1px hidden #FF9900;
	margin-left:5px;
}

#findtitle{
	font-size:16px;
	color:#FFFFFF;
	azimuth:center;
	height:26px;
	padding-left:80px;
}

#flighttime1{
	margin-left:10px;
	float:left;
	width:460px;
	height:20px;
}

#flighttime{
	margin-left:10px;
	float:left;
	width:460px;
	height:280px;
	overflow:hidden;
}


#flightinfo{
	width:1000px;
	clear:both;
	margin-top:5px;
}

#loginStatus{
	margin-top:5px;
	clear:both;
	padding-right:10px;
	width:990px;
	height:30px;
	color:#FF3300;
	text-align:right;
}

.logintype{
	font-size:16px;
 	color:#FF3300;
 	font-family:"华文楷体";
}

.searchflight{
	 background-image:url(../images/search_110.jpg);
	 width:128px;
	 height:36px;
}

.register{
		  padding-top:0px;
          padding-bottom:30px;
		  
		  }
.register-bold{
            font-size:14px;
			font-weight:bold;
			color:#666666;
			padding-top:15px;
			padding-bottom:15px;
           }

.register-input{
			width:122px;
			height:20px;
			border:1px solid #CC6600;
           }
.register-td{
          width:50px;
		  text-align:right;
		  padding-right:0px;
		  height:30px;
           }
.font_error{color:#FF0000;}
.font_true{color:#ff7000;}

.login-over{
            background-image:url(../images/login-sm21.jpg);
			width:70px;
			height:26px;
			overflow:hidden;
			border:0;
			}
						
.login-out{ 
            background-image:url(../images/login-sm11.jpg);
			width:70px;
			height:26px;
			overflow:hidden;
			border:0;
			}
.login-bold{
           font-size:13px;
		   font-weight:bold;
		   color:#ff7000;
		   }

.search-top{
			clear:both;
			display:none;
            position:absolute;
			left:180px;
			top:350px;
			width:280px;
			border-bottom:2 #ff7000 solid;
			background-color:#fffff7;
			z-index:1;
			}
.search-menu{
           color:#ffffff;
           padding-top:4px;
           background-image:url(../images/bottom-bg.gif);
		   height:30px;
           overflow:hidden;
		   padding-left:12px;
			text-align:left;
			z-index:6;
			}		
			

.div-link {FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none;

          background-color:#dfdfdf;
		  border-left:1 #FFFFFF solid;
          width:93px;line-height:22px;text-align:center;border-bottom:1 #FFFFFF solid;}
.div-link:hover {FONT-SIZE: 12px; COLOR: #FFFFFF;

                background-color:#cc0000;
                width:93px;line-height:22px;text-align:center;}



.bottom-bg{
		   clear:both;
		   margin-top:6px;
           color:#ffffff;
           padding-top:6px;
           text-align:center;
           background-image:url(../images/bottom-bg.gif);
		   height:35px;
           overflow:hidden;
		   width:1000px;
           }

	  
.bottom{
 		clear:both;
        color:#414141;
        line-height:20px;
        text-align:center;
		width:1000px;
	   }